@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.link-underlined {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

.center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 2px 16px;
  margin: 5px 10px;
}
