@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500;600;700&display=swap");

.NavMain {
  background-color: #87a878;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  height: 60px;
  width: 100vw;
  position: sticky;
  top: 0;
  z-index: 99;
}

.NavMain .nav-list {
  margin-left: auto;
  display: flex;
}

.NavMain .nav-list li:not(:last-child) {
  margin-right: 20px;
}

.burger-icon,
.logout img {
  height: 5vh;
  width: auto;
  padding-right: 5vw;
}

nav {
  display: flex;
}

.hidden {
  visibility: hidden;
}

.lateral-menu {
  box-sizing: border-box;
  padding-left: 5vw;
  padding-right: 5vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 70vw;
  height: 100vh;
  color: #87a878;
  font-size: 6vw;
}

.cross img {
  padding-top: 2vh;
  padding-bottom: 2vh;
  height: 7vh;
  width: auto;
}

.lateral-menu h4 {
  font-size: 6vw;
  padding-bottom: 2vh;
  color: black;
}

.lateral-menu nav {
  display: flex;
  flex-direction: column;
  background-size: ;
}

.lateral-link {
  display: inline-block;
}

.lateral-menu hr {
  margin: 2px;
}

.opacity {
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  background-color: black;
  opacity: 70%;
}

.logout {
  display: flex;
  padding-top: 40vh;
}
