.NavMain {
  background-color: #87a878;
  color: white;
  display: flex;
  align-items: center;
  padding: 20px;
  height: 60px;
}

.NavMain .nav-list {
  margin-left: auto;
  display: flex;
}

.NavMain .nav-list li:not(:last-child) {
  margin-right: 20px;
}

.burger-icon {
  height: 5vh;
  width: auto;
  padding-right: 5vw;
}

nav {
  display: flex;
}

.hidden {
  visibility: hidden;
}

.lateral-menu {
  box-sizing: border-box;
  padding-left: 5vw;
  padding-right: 5vw;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 70vw;
  height: 100vh;
  color: #87a878;
  font-size: 6vw;
  z-index: 10;
}

.lateral-menu h3 {
  font-size: 8vw;
  padding-bottom: 5vh;
}

.lateral-menu nav {
  display: flex;
  flex-direction: column;
}

.lateral-link {
  display: inline-block;
}

.lateral-menu hr {
  margin: 2px;
}

.opacity {
  position: absolute;
  top: 0;
  right: 0;
  width: 30vw;
  height: 100vh;
  background-color: black;
  opacity: 70%;
  z-index: 10;
}
