.allProducts {
  padding: 10px;
}

h1 {
  text-align: center;
  text-decoration: underline;
  margin-bottom: 20px;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
