.add img {
  text-align: center;
  height: 4vh;
  width: auto;
}

.add {
  display: flex;
  justify-content: center;
}

.product-selected {
  display: flex;
  align-items: center;
}

.input-quantity input {
  margin-left: 7px;
  margin-right: 7px;
  text-align: center;
}
